# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Logs
log/
logs/
logdir/
logdir_safedreamer/
logdir_carla/
CarDreamerRepo/logs/

# WandB logs and artifacts
CarDreamerRepo/wandb/

# Local caches inside the project
CarDreamerRepo/car_dreamer/__pycache__/

# Optional: ignore common temp and system files
*.DS_Store
*.swp

SafeDreamer/surface_plots/
/coc/flash5/gzollicoffer3/SafeDreamer/HRSSM/HRSSM/compute_surface_plots.py