cloudpickle
wandb
moviepy
matplotlib
imageio
numpy
rich
ruamel.yaml==0.17.21
opencv-python
tensorflow
tensorflow_probability
optax==0.2.4
jax[cuda12]==0.4.30
jaxlib==0.4.30
safety-gymnasium @ git+https://github.com/PKU-Alignment/safety-gymnasium
numpy==1.25.0
